# 내용 정리

# 변수와 데이터 타입


## 변수

연산자 =를 사용하여 변수에 값을 담는다.

```
name = "Tom"
age = 30
```

<br>

좌측은 변수 이름이고, 우측은 값이나 연산 내용이나 함수 호출 등이 될 수 있다.

```
i = 3
i = 3*2
i = sum(3,2)
```

<br>

## 데이터 타입

다음의 데이터 타입이 있다.

- int : -1, 0, 3과 같이 정수. int
- float : -1.0, 0.3, 3.1과 같이 실수, float
- str : "Tom", "1"과 같이 문자열. str
- bool : True, False의 bool


<br>

## 타입 변환

- int()
- float()
- str()
- bool() : "False", 0, None인 경우에만 False. 이외는 전부 True

```
i = int("3")
i = int("3.1")

f = float("3")
f = float("3.1")

s = str(3)
s = str(3.1)
s = str(True)

b = bool(1)
b = bool(0)
b = bool(None)
b = bool("False")

```

# 스트링의 format

print("name = {}, age = {}".format(name, age))

# 함수

```
def sum(a,b):
  sum = a + b
  return sum

print(sum(1,2))  
```


<br>

반환 값이 없을 수도 있다.

```
def print_hi("name")
  print("hi {}".format(name)

print_hi("Tom")
```

# 제어문

if, elif, else로 제어한다.

```
if i==1:
  print(1)


if i==1:
  print(1)
else:
  print(0)



if i==1:
  print(1)
elif i==2:
  print(2)
else:
  print(0)   
```

# 자료형 - 리스트

여러개의 값을 갖는다.

```
l = [ 0, 1, 2, 3, 4 ]
l = [ "Tom", "Jerry" ]
```

```
len(l)      # 갯수
print(l[1]) # 값 보기
l[1] = 9    # 값 설정
l.append(5) # 값 추가
```

# 반복문

## for 루프

```
i = [ 2, 4, 6, 8 ]
for i in l: # 리스트의 각 내용을 가지고
  print(i)

for i in range(5): # 0에서 4까지 5개
  print(i) 

for i in range(10, 15): # 10에서 14까지 5개  
  print(i)

for i in range(10, 15, 2): # 10에서 14까지 2개 마다. 3개
  print(i)  
```

## while 루프

```
while i>0:
  print(i)


while True:
  print(i)  


while True:
  ...
  if i=="":
    break  

while len(l)<10:
  ...
```

# 자료형 - 딕션너리

```
d = {
  "cat" : "고양이",
  "dog" : "강아지",
  "table" : "책상",
  "chair" : "의자"
}  

```

```
len(d)   # 갯수
d["cat"] # 값을 볼 때
d["dog"] = "댕댕이" # 값을 바꾸거나, 추가할 때
```

<br>


각 항목을 item이라 하고, 각 item은 key와 value로 구성되어 있다.

위 예의 경우 4개의 item이 있고,
"cat" : "고양이" item은 "cat"이 key이고, "고양이"가 value이다.

# 코드 블럭

```
if i>30:
  print(i)
  print(i*2)
print(i*3)

for i in l:
  print(i)
  print(i*2)  
print(i*3)  


for i>30:
  print(i)
  print(i*2)
print(i*3)  
```

# 사용자 입력

```
i = input()
name = input("name :")
```

```
i = input()
i = int(i) # 입력은 str타입이다. 이를 int로 변환
``

# File IO

input.txt를 읽기 모드로 열어서 한줄 읽기

```
f = open("input.txt", "r") # 읽기 모드로 열기
line = f.readline() # 한줄 읽기
f.close() # 파일 닫기
print(line)
```


<br>

input.txt를 읽기 모드로 열어서 모두 읽기

```
f = open("input.txt", "r")
lines = f.readlines() # 모든 줄 읽기
f.close()

for line in linese:
  print(lines)
```


<br>

output.txt를 쓰기 모드로 열어서 쓰기

```
f = open("output.txt", "w")
f.write("hello\n")
f.close()
```

# 특수 기호

## 기호 "(큰따옴표) '(작은 따옴표)
문자열을 정의할 때 사용

```
name = "Tom"
name = 'Tom'
```

문자열 안에 "나 '가 포함될 경우 문자열 시작과 처음을 다른 것으로 한다.

```
"It's me"
'He said "Hi"'
```

<br>


## 기호 =
좌측의 변수에 우측의 값 혹은 우측의 연산 결과를 담는다
```
name = "Tom"
sum = get_sum(1,2,3)
```

<br>

## 기호 ==, !=
좌우의 값이 같음 혹은 다름을 판단
```
if name =="": # name에 담긴 값이 ""과 같다면
```

```
if value != "tom": # value에 담긴 값이 "tom"이 아니라면
```

<br>

## 기호 ( )
- 함수 정의나 함수 호출
- 연산 우선 순위

함수
```
print(30)

def sum(a,b):
  return a+b

print(sum(1,2))
```

연산 우선순위
```
(1+2)*3
1+(2*3)
```


<br>

## 기호 ,
여러개를 열거 할 때

```
print(1,2,3)

def sum(a,b):
  return a+b
```

<br>

## 기호 [ ], { }

- \[ ] : 리스트를 정의할 때. 리스트나 딕션너리 값을 참조할 때
- { } : 딕션너리를 정의할 때

```
l = [ 1, 2, 3, 4, 5 ]
l = [ "Tom", "Jerry", "철수", "영희" ]
print(l[0])
```

```
d = {
  "dog" : "강아지",
  "cat" : "고양이"
}
print(d["dog"])
```

<br>


## 기호 :(콜론)

코드 블럭이 시작됨을 명시.
```
while True:
  name = input()

if name=="":
  break

for i in l:
  print(i)
```

딕션너리 정의할 때 키와 값을 구분
```
d = { "dog":"강아지" }
```


<br>


## 기호 +, -, *, /, %
- \+ : 더하기
- \- : 빼기
- \* : 곱하기
- / : 나누기
- % : 나머지


```
print(1+2)
print("hello"+" tom")
```

<br>

## 기호 \(역슬래쉬)

문자열 내에서 다른 의미를 표현할 때
```
print("says \"HI\"") # says "HI" 처럼 문자열을 감싸는 큰따옴표가 아니라 문자열에 포함되는 문자임을 표시
print("HI\n")) # 줄바꿈 문자를 표시
print("hi\ttom") # 탭 문자를 표시

```

<br>

## 기호 .(쩜)

특정 데이터 타입에 연결되어 있는 함수를 호출할 때 사용
```
"{} x {} = {}".format(3, 4, 12)
"1,2,3,4".split(",")
```


<br>


## 기호 #(샾)

실행되지 않는 설명문을 표시

```
name = "Tom" # 변수에 값을 설정

# age = 30

```


<br>

## 예약어

### True, False
참 혹은 거짓을 의미하는 boolean 타입의 값

### None
아무것도 없을을 의미하는 값


<br>

# 코드 샘플

## 무한 입력. 빈칸이면 중지

In [0]:
while True:
  i = input()
  if i=="":
    break
  print(i)

1
1
2
2
3
3

## 3의 배수이면

In [0]:
i = 6
if i%3==0:
  print("i는 {}. 3의 배수".format(i))

i는 6. 3의 배수

## 2의 배수이고 3의 배수이면

In [0]:
i = 6

if i%2==0 and i%3==0:
  print("i는 {}. 2의 배수이고 3의 배수")

i는 {}. 2의 배수이고 3의 배수

## 리스트의 값 출력

In [0]:
l = [ 0, 1, 2, 3, 4 ]
for i in l:
  print(i)

0
1
2
3
4

## 2개 리스트를 같이 출력

In [0]:
l1 = [ 0, 1, 2, 3, 4 ]
l2 = [ 10, 10, 10, 20, 20 ]

size = len(l1)

for i in range(size):
  print(l1[i], l2[i])

0 10
1 10
2 10
3 20
4 20

## 리스트의 값을 2배한 리스트

In [0]:
l = [ 0, 1, 2, 3, 4 ]
l2 = []
for i in l:
  l2.append(i*2)

print(l2)

[0, 2, 4, 6, 8]

## 사용자의 입력을 계산하여 특정 포멧으로 출력

In [0]:
i = input()
i = int(i)
print("입력은 {}이고, 2로 나눈 나머지는 {}입니다.".format(i, i%2))

3
입력은 3이고, 2로 나눈 나머지는 1입니다.