# 1.출력하기
- print()는 값을 출력해주는 함수
- 입력한 메시지나 값을 출력
- 문자나 숫자 등을 출력
- 쉼표(,)로 여러 값을 출력
- 괄호(()) 안의 값을 출력

In [0]:
print("hello world")

hello world

In [0]:
print(1)
print("1")
print(1, 2, 3)
print(1,2,3)
print(123)
print('python')
print('My name is', 'Bob')

1
1
1 2 3
1 2 3
123
python
My name is Bob

# 2.입력하기
- 사용자의 입력을 받습니다.
- 입력 값은 항상 문자열로 받아옵니다.
- 프로그램에게 정보를 전달할 수 있습니다.
- 입력 받은 값을 변수에 저장할 수 있습니다.

In [0]:
name = input('What is your name?')

'What is your name?'정수

# 3.변수
- 변수 : 값을 담는 그릇
- 할당연산자 : 변수에 값을 할당하는 연산을 의미하는 기호
- 대표적인 할당연산자는 바로 '='이고, 그 외에 다양한 할당연산자 존재

In [0]:
a = 6        # = 오른쪽에 있는 정수 6을 = 왼쪽의 변수 a에 할당
b = 2        # = 오른쪽에 있는 정수 2를 = 왼쪽의 변수 b에 할당
print(a)
print(b)
name = "tom"
print(name)

6
2
tom

# 4.데이터 타입
- 정수와 실수 그리고 문자열로 구분된다.(이외에도 몇가지 더 있다.)

정수와 실수의 구분은 메모리 사용과 관련되어 있다.

각각 int, float라 부른다. integer의 약자. 소수점이 떠 다닌다 해서 floating.



그리고 문자열은 단순 값 1개가 아니라 여러개의 값들로 처리하는 내부적인 처리방식 때문에 별개로 처리한다.

문자열은 string이라 불린다. 각 문자들의 연결이라는 의미이다.

## (1) 숫자형(Numeric)
- 숫자로 이루어진 자료형
- int : 정수이며 integer의 약자
- float : 실수며 floating의 약자
- 숫자끼리 연산 가능

In [0]:
my_int1 = 1
my_int2 = -2
my_int3 = 4096
print(my_int1, my_int2, my_int3)

1 -2 4096

In [0]:
my_float1 = 1.0
my_float2 = -2.0
my_float3 = 3.14
print(my_float1, my_float2, my_float3)

1.0 -2.0 3.14

### 1) 산술 연산자 
- 일반적으로 사칙연산을 수행할 때 사용
- '+', '-', '', '/', '//', '*', '%' 등 다양한 산술연산자가 존재

In [0]:
print(6 + 2) # print(6 + 2) = print(8)
print(6 * 2) # print(6 * 2) = print(12)
print(6 / 4) # print(6 / 2) = print(3.0) : 정수를 나누면 실수
print(6 // 4)# print(6 //2) = print(3)   : 나누고 소수를 버림
print(6 ** 2)# print(6 **2) = print(6^2) = print(36)
print(6 % 2) # print(6 % 2) = print(6을 2로 나눈 나머지) = print(0)

8
12
1.5
1
36
0

## (2) 문자열(string)
- 문자나 문자들을 늘어놓은 것입니다.
- 큰따옴표와 작은따옴표로 구분합니다.
- 리스트와 함께 시퀀스 자료형입니다.
- 작은따옴표(' ') 또는 큰따옴표(" ")로 구분합니다.

In [0]:
my_str1 = 'a'
my_str2 = '3.14'
my_str3 = 'coding'
my_str4 = "coding"
print(my_str1)
print(my_str2)
print(my_str3)
print(my_str4)

a
3.14
coding
coding

### 1) 문자열 연산자
- 문자열에도 연산자가 있다
- ```+ : 문자끼리 연결 ```
- ``` * : 문자열을 해당 수만큼 반복```

In [0]:
print("아이폰"+" VS " + "갤럭시")

아이폰 VS 갤럭시

In [0]:
print("안녕" * 3 )

안녕안녕안녕

### 2) 문자열 안에 문자 쓰기
큰 따옴표와 작은 따옴표를 번갈아가며 사용하거나, 하나만 사용한다면 백슬래시(\) 혹은 대한민국 원(Won)화 기호를 사용해야 한다

In [0]:
a = "'아이폰' vs '갤럭시'"
print(a) 
a = '"파이썬은 매우 쉬운 언어입니다" 라고 개발자가 말했다'
print(a)

'아이폰' vs '갤럭시'
"파이썬은 매우 쉬운 언어입니다" 라고 개발자가 말했다

**문제1. 백슬래시 \ 를 사용하여 출력해 보시오**

In [0]:
a = '\'아이폰\' vs \'갤럭시\''
print(a) 
a = "\"파이썬은 매우 쉬운 언어입니다\" 라고 개발자가 말했다"
print(a)

'아이폰' vs '갤럭시'
"파이썬은 매우 쉬운 언어입니다" 라고 개발자가 말했다

## (3) Boolean 타입
- True, False의 값을 갖는 데이터 타입
-  None, "", 0 인 경우에만 False, 이외는 True
- 비교연산자, 논리연산자의 결과

In [0]:
print(bool(1))

True

In [0]:
print(bool(None))

False

In [0]:
print(bool(0))

False

In [0]:
print(bool())

False

In [0]:
print(bool(""))

False

In [0]:
print(bool(''))

False

# 5.타입 확인
- type이란 함수로 데이터의 타입을 확인할 수 있다

In [0]:
print(type(3))

<class 'int'>

In [0]:
print(type(3.2))

<class 'float'>

In [0]:
print(type("tom"))

<class 'str'>

In [0]:
print(type(True))

<class 'bool'>

# 6.데이터 타입 변환
- int() : int 타입으로
- float() : float 타입으로
- str() : string 타입으로
- bool() : boolean 타입으로

## (1) int() : 정수형으로 변환
- 소수점 아래 버림

In [0]:
print(5.3)

5.3

In [0]:
print(int(5.3))

5

In [0]:
print(int(5.7))

5

In [0]:
print(int("5"))

5

In [0]:
print(int("5.3"))

ValueError: ignored

In [0]:
print(int(float("5.3")))

5

In [0]:
print(int("tom"))

ValueError: ignored

In [0]:
print(int(True))

1

In [0]:
print(int(False))

0

## (2) float() : 실수형으로 변환

In [0]:
print(float(3))

3.0

In [0]:
print(float("3"))

3.0

In [0]:
print(float("3.3"))

3.3

In [0]:
print(float(True))

1.0

In [0]:
print(float(False))

0.0

## (3) str() : 문자열로 변환

In [0]:
print(str(3.0))
print(type(str(3.0)))

3.0
<class 'str'>

**문제2. 문자와 숫자 더하기**
- 다음을 더하여 원하는 결과를 출력해 보시오
- print("3" + 2) # 결과 : 5

In [0]:
print("3"+2)

TypeError: ignored

In [0]:
print(int("3")+2)

5

## (4) 반올림 변환 등
- int() : 소수점 아래를 버린다. truc()와 동일
- round() : 가장 가까운 정수로
- math.floor() : 원 값보다 작은 정수로
- math.ceil() : 원 값보다 큰 정수로
- math.truc() : 소수점 아래를 버린다.

In [0]:
import math

In [0]:
print(round(3.1))
print(round(3.9))
print(round(-3.1))
print(round(-3.9))

3
4
-3
-4

In [0]:
print(math.floor(3.1))
print(math.floor(3.9))
print(math.floor(-3.1))
print(math.floor(-3.9))

3
3
-4
-4

In [0]:
print(math.ceil(3.1))
print(math.ceil(3.9))
print(math.ceil(-3.1))
print(math.ceil(-3.9))

4
4
-3
-3

In [0]:
print(math.trunc(3.1))
print(math.trunc(3.9))
print(math.trunc(-3.1))
print(math.trunc(-3.9))

3
3
-3
-3

# 7.사용자 입력 심화

## (1) 문자열 입력

In [0]:
name = input("이름 : ")
print(name, "입니다.")

이름 : 김정수
김정수 입니다.

**문제3. 나의 이름이름과 나이를 입력하여 나를 소개하는 다음과 같은 문장을 출력해 보자**
- 나의 이름은 김정수 입니다. 나이는 00살 입니다.

In [0]:
name = input("이름 : ")
age = input("나이 : ")
print("나의 이름은", name, "입니다. 나이는", age + "살 입니다.")

이름 : 김정수
나이 : 33
나의 이름은 김정수 입니다. 나이는 33살 입니다.

In [0]:
name = input("이름 : ")
age = input("나이 : ")
print("나의 이름은", name, "입니다. 나이는", age , "살 입니다.")

이름 : 김정수
나이 : 33
나의 이름은 김정수 입니다. 나이는 33 살 입니다.

## 숫자형 연산

**문제4. 입력한 값의 4배의 숫자를 출력하시요**

In [0]:
i = input()
print(int(i)*4)

5
25

In [0]:
print(int(input())*4)

5
25

**문제5. 입력한 값을 4로 나눈 숫자를 출력하시오**

In [0]:
i = input()
i = int(i)
print(i/4)

5
2.5

**문제6. 입력한 값을 4로 나눈 나머지를 출력하시오**

In [0]:
i = int(input())
div = int(i/4)
mod = i - (div * 4)
print("나머지는" , mod , "입니다")

2
나머지는 2 입니다

In [0]:
i = int(input())
div = int(i/4)
mod = i - (div * 4)
print("나머지는" + mod + "입니다")

22

TypeError: ignored

**문제7. 입력한 값을 4로 나눈 몫과 나머지를 출력하시오**

In [0]:
i = int(input())
div = int(i/4)
mod = i - (div*4)
print("몫:", div, "나머지:",mod)

22
몫: 5 나머지: 2

**문제8 두개의 입력을 받아 곱한 값과, 다시 4로 나눈 몫과 나머지를 출력하시오**

In [0]:
a = float(input())
b = float(input())
c = a * b
print("두 입력의 곱", c)
div = int(c/4)
mod = c - (div * 4)
print("몫:", div, "나머지:",mod)

22
11
두 입력의 곱 242.0
몫: 60 나머지: 2.0

# 8.제어문
- 프로그램의 흐름을 바꾸는 역할을 하는 문장들을 제어문이라고한다.

## (1) 조건문 if
``` 
if 조건:
    실행할 명령1
    실행할 명령2
        .
        .
        .
```

- 조건이 참인지 거짓인지 판단합니다.
- 조건에 따라 처리의 흐름을 바꿉니다.
- if 키워드를 사용합니다. if 뒤에는 조건이 오고 조건 뒤에는 : 이 붙어야 한다.
  실행 내용은 한칸 들여써야 합니다
- 참일 경우 코드블럭을 실행합니다.
- 거짓일 경우 코드블럭을 넘어갑니다.

In [0]:
temp = 35
print(temp)

35

In [0]:
print("더워요. 온도가",temp,"도 입니다.")

더워요. 온도가 35 도 입니다.

In [2]:
temp = 20
print("시원해요. 온도는", temp, "입니다.")

시원해요. 온도는 20 입니다.

In [3]:
temp = 20

if temp>25:
   print("더워요. 온도는", temp, "입니다.")
   print("hi")
print("hello")

hello

In [9]:
temp = 20

if temp>25:
  print("더워요. 온도는", temp, "입니다.")
else:
  print("시원해요. 온도는", temp, "입니다.")
print("hello")

시원해요. 온도는 20 입니다.
hello

In [14]:
temp = 10
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
elif temp > 15:
  print("시원해요. 온도가",temp,"도 입니다.")  
else:
  print("추워요. 온도가",temp,"도 입니다.")

추워요. 온도가 10 도 입니다.

**문제9. 입력을받아 현재 날씨를 나타내도록 해보시오**

In [15]:
temp = int(input())

if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
elif temp > 15:
  print("시원해요. 온도가",temp,"도 입니다.")  
else:
  print("추워요. 온도가",temp,"도 입니다.")

22
시원해요. 온도가 22 도 입니다.

### 1) boolean 자료형과 비교연산자
- 연산자 앞뒤의 값을 비교하여 참과 거짓 반환

In [5]:
print(6 == 2)  #print(6 == 2) = print(False)

False

In [12]:
print(6 != 2) #print(6 !=2) = print(True)

True

In [6]:
print(6 < 2)  #print(6 < 2) = print(False)
print(6 > 2)  #print(6 > 2) = print(True)

False
True

In [7]:
print(6 <= 2) #print(6 <=2) = print(False)
print(6 >= 6) #print(6 >=6) = print(True)

False
True

In [20]:
print(6 <= int("2")) #print(6 <=2) = print(False)

False

# 9.함수
```
def 함수이름(파라매터):
  함수 내용...
```
- 함수 내용에 해당하는 부분(코드 블럭)을 표시하기 위해 들여쓰기를 합니다
- 우리가 사용해왔던 print(), input() 등도 모두 함수
- 반복되는 코드에 이름을 붙여서 다시 사용할 수 있게 합니다.
- 필요할 때 함수의 이름을 불러서 사용할 수 있습니다.
- 이와 유사하게 입력 값이 함수에 들어가면 출력 값이 나옵니다.
- 함수에게 전달하는 값을 인자 혹은 매개변수라고 합니다.
- 굳이 따지자면 다른 용어이지만 보통 혼용해서 사용합니다.
- 함수에게 받아오는 값을 리턴 값, 반환 값, 결과 값이라고 합니다.
- 인자와 결과 값은 있을 수도 있고 없을 수도 있습니다.

In [16]:
print("name {}, age {}".format("tom", 30))
print("name {}, age {}".format("jerry", 32))
print("name {}, age {}".format("철수", 20))
print("name {}, age {}".format("영희", 22))

name tom, age 30
name jerry, age 32
name 철수, age 20
name 영희, age 22

In [17]:
print("이름 {}, 나이 {}".format("tom", 30))
print("이름 {}, 나이 {}".format("jerry", 32))
print("이름 {}, 나이 {}".format("철수", 20))
print("이름 {}, 나이 {}".format("영희", 22))

이름 tom, 나이 30
이름 jerry, 나이 32
이름 철수, 나이 20
이름 영희, 나이 22

## (1) print안에 존재하는 format 메소드

In [0]:
name = "tom"
age = 30
print(name, age)

tom 30

In [0]:
name = "tom"
age = 30
print("name=",name, ", age=",age)

name= tom , age= 30

In [0]:
name = "tom"
age = 30
print("name={}, age={}".format(name, age))

name=tom, age=30

## (2) 함수만들기

In [19]:
def print_name_and_age(name, age):
    print("name {}, age {}".format(name, age))
    print("반가워요")

    
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name tom, age 30
반가워요
name jerry, age 33
반가워요
name 철수, age 20
반가워요
name 영희, age 22
반가워요

**문제10. 파라매터를3개 받아 다음과같이 출력하는 함수를 만들어 보시오(함수이름은 자유롭게)**
- 나의 이름은 000입니다. 나이는 00이고 직업은 0000000입니다.

In [22]:
def intro_myself(name, age, job):
    print("나의 이름은 {}입니다. 나이는 {}이고 직업은 {}입니다." .format(name, age, job))


intro_myself("김정수", 33, "개발자")

나의 이름은 김정수입니다. 나이는 33이고 직업은 개발자입니다.

**문제11. 파라메터를 input함수를 활용하여 직접 적어 위와같은 결과가 나오도록 만들어 보시오.**

In [24]:
def intro_myself(name, age, job):
    print("나의 이름은 {}입니다. 나이는 {}이고 직업은 {}입니다." .format(name, age, job))


intro_myself(input(),input(),input())

김정수
33
개발자
나의 이름은 김정수입니다. 나이는 33이고 직업은 개발자입니다.

**함수의 반환값**

- 반환하는 값이 있을 경우 return을 사용한다
```
def 함수이름(파라매터):
  ...
  return some
```

- 나누기 몫 반환 함수

In [25]:
def div(a,b): # a를 b로 나누어 몫을 반환한다.
    div = int(a/b)
    return div


print(div(3,2))
print(div(4,2))
print(div(5,2))
print(div(6,2))

1
2
2
3

- 나누기 나머지 반환 함수

In [26]:
def mod(a,b): # a를 b로 나누어 나머지를 반환한다.
    div = int(a/b)
    mod = a - div*b
    return mod

print(mod(3,2))
print(mod(4,2))
print(mod(5,2))
print(mod(6,2))

1
0
1
0

**문제12. 정수를 받아 짝수여부를 판별하는 함수를 만들어 보시오**

In [27]:
def is_even(n):
    if mod(n,2)==0:
        return True
    else:
        return False


print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [28]:
def is_even(n):
    is_even = (mod(n,2)==0)
    return is_even

print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [29]:
def is_even(n):
    return (mod(n,2)==0)

print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [30]:
n = input()
i = int(n)
# if int(i/2)*2==i:
if is_even(i):
    print("짝수")
else:
    print("홀수")

5
홀수